<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="Xrm FetchXml Data Provider"
           invariant="XrmLib.Data.FetchXmlClient"
           description=".Net Framework Data Provider for Dynamics CRM FetchXML"
           type="XrmLib.Data.FetchXmlClient.XrmFetchClientFactory, XrmLib.Data.FetchXmlClient" />
    </DbProviderFactories>
  </system.data>
</configuration>